name: Docker Image CI

on:
  push:
    tags:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Build the Docker image
      run: docker build . -t valerianomanassero/tfx-nvidia-gpu:{{ github.ref }}
    - name: Log in into Docker Hub
      run: docker login -u {{ secrets.DOCKERHUB_USER }} -p ${{ secrets.DOCKERHUB_TOKEN }}
    - name: Upload Docker image
      run: docker push . -t valerianomanassero/tfx-nvidia-gpu:{{ github.ref }}
